# **STRINGS**

In [1]:
#upper()
small="i am a good boy"
print(small.upper())

I AM A GOOD BOY

In [4]:
#rstrip and lstrip
text1="   hello    "
text2="444%%%"
print(text1.lstrip())
print(text2.rstrip("%"))

hello
444

In [5]:
#chaining of functions in python
text="****55####"
print(text.lstrip("*").rstrip("#"))

55

In [6]:
##strip only strips from front and back not from the middle----->IMPORTANT

str1 = "0000000this is string example....000wow!!!0000000"
print (str1.strip('0'))

this is string example....000wow!!!

### **STEPS TO SOLVE STRING CLEANING**

### EG- U need to convert caLorIe conSumED ----> Calorie_Consumed

#### 1.convert to lower---> s.lower()
#### 2.split with delimiter----> list=s.split(' ')
#### 3.Apply list comprehension to convert 1st letter to uppercase---->
      list=[i[0].upper()+i[1:] for i in list]
#### 4.Join the list and form a string---->  '_'.join(list)

#### WE CAN USE i.title() instead of whole phrase

# __Tuples and Lists__

## __Tuples(They are immutable)__

In [23]:
t=(1,)  #tuple should end with a comma otherwise it will be int
t1=(1,2,3)
t2=1,2,3
print(type(t),type(t1))

<class 'tuple'> <class 'tuple'>

In [8]:
t3=1,  #tuple must be defined followed by a paranthesis
print(type(t3))

<class 'tuple'>

In [15]:
t4=1,"mumbai",2,3,"pune",5
print(t4[1][0:4],t4[-3:])  #this is important

mumb (3, 'pune', 5)

### ->sum,min,max

In [11]:
print(sum(t1),min(t1),max(t1))

6 1 3

### ->How to sort a tuple?

In [16]:
t5=(2,3,7,4,5,8)
x=sorted(t5)
print(x)

[2, 3, 4, 5, 7, 8]

In [17]:
#we are getting a list after sorting a tuple,we can convert it using tuple function
y=tuple(x)
print(y)

(2, 3, 4, 5, 7, 8)

### ->Nested Tuples,Packing and Unpacking

In [18]:
t6=(1,2,3,("Agra","Pune"))
print(t6[3][1])

Pune

In [19]:
t7=(1,2,3,4) #packing a tuple
(a,b,c,d)=t7 #unpacking a tuple
print(c)

3

## __LISTS(They are mutable)__

### ->membership in list

In [24]:
l1=[1,2,3,4]
print(1 in l1)
print(8 not in l1)

True
True

### ->del,pop,remove,sort,sorted

In [25]:
l1=["Biology",1,2,("a","b",),[5,6,7,8]]
l1.pop()
print(l1)

['Biology', 1, 2, ('a', 'b')]

In [27]:
l1.remove(1)

In [28]:
print(l1)

['Biology', 2, ('a', 'b')]

In [29]:
l1.append([1,3,5])
print(l1)

['Biology', 2, ('a', 'b'), [1, 3, 5]]

In [30]:
l2=[1,2,11,8,5,7]
l2.sort()
print(l2)

[1, 2, 5, 7, 8, 11]

In [31]:
l2.sort(reverse=True)
print(l2)

[11, 8, 7, 5, 2, 1]

In [36]:
C=sorted(l2)
print(C,l2)

[1, 2, 5, 7, 8, 11] [11, 8, 7, 5, 2, 1]

### ->SHALLOW COPY

In [33]:
A=["a","b","c"]
B=A
A[0]="d"
print(B)   #here B[0] is also changed as we are just giving the refernece of A to B when doing B=A.

['d', 'b', 'c']

In [1]:
C=A[0:]   # here by shallow copying we avoided the problem occuring above.
A[0]="m"
print(C)

NameError: name 'A' is not defined

#### EXTENDING AND JOINING A LIST

In [3]:
A=["a","b","c"]
B=["d","e","f"]
### extend is used to add multiple values
A.extend(B)
A

['a', 'b', 'c', 'd', 'e', 'f']

In [5]:
C='-'.join(B)
C

'd-e-f'

# __SET (to remove duplicates)__

In [6]:
a=[1,2,3,4,5,5,6,6,3,8,7]
set_a=set(a)
set_a.append(5)
print(set_a)

AttributeError: 'set' object has no attribute 'append'

In [45]:
set_a.add("India")
print(set_a)

{1, 2, 3, 4, 5, 6, 7, 8, 'India'}


### __union,intersection etc__

In [43]:
A={0,1,2,3,4}
B={3,4,"india"}
print(A|B,A&B,A-B)

{0, 1, 2, 3, 4, 'india'} {3, 4} {0, 1, 2}

# __DICTONARIES__

In [46]:
d={"India":"INR","USA":"USD","France":"Euros"}
print(d.values())

dict_values(['INR', 'USD', 'Euros'])

In [47]:
print(d.keys())

dict_keys(['India', 'USA', 'France'])

In [49]:
d.update({"India":"Rupees"})

In [51]:
print(d["India"])

Rupees

In [10]:

d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}   ## by default iterations in a dict are done over keys
for i,v in d.items():
    print(i,v)

0 Fish
1 Bird
2 Mammal

## __while and comprehensions__

In [56]:
ch=""
while ch!="quit":
    ch=input()
    print(ch)

 quit

quit

In [59]:
# using list comprehension
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [L1[i] - L2[i] for i  in range(0, len(L1))]
L3

[2, 6, 15, 4, 8]

In [61]:
# dictionary comprehension
L=['aeroplane','car','bus','train']
d={i:len(i) for i in L}
d

{'aeroplane': 9, 'car': 3, 'bus': 3, 'train': 5}

In [62]:
#Q. Print all the words starting with a vowel
input_list=['abc','man','Oreo','Hijab']
list_vowel =[i for i in input_list if i[0] in ['a','e','i','o','u','A','E','I','O','U']]#e your answer here]

print(list_vowel)

['abc', 'Oreo']

In [69]:
#Q. Create a dict of values which contains all natural no(1,100) which are multiple of 3 as keys and value as i^3
l1=list(range(1,100))
dict={i:i**3 for i in l1 if i%3==0}
dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [70]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [73]:
##list comprehension for if else
input_list=['abc','man','Oreo','Hijab']
list_vowel =[i if i[0].lower() in 'aeiou' else "NA" for i in input_list] #if starts with vowel else put "NA"
list_vowel

['abc', 'NA', 'Oreo', 'NA']

# __LAMBDA FUNCTIONS,MAP,FILTER AND REDUCE FUNCTIONS__

In [74]:
#VARIABLE LENGTH PARAMETERS
def func(*args):
    return args[0]+args[1]
print(func(1,3))

4

In [94]:
#LAMBDA FUNCTIONS(f=lambda x,y:x+y)
    #function_name  = lambda <space>  input_parameters :  output_parameters 
#if there is no if else needed..
checkVowel=lambda x:  x.lower() in 'aeiou'
checkVowel('a')

#if else lambda implementation
checkVowel=lambda x: "t"+x if x.lower() in'aeiou' else "f"+x
checkVowel('a')

'ta'

In [80]:
#MAP map(function,iterable object)
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

def divby3(x):
    if x%3==0:
        return x
sample_map2=map(divby3,list_numbers)
print(list(sample_map2))                     #hence to avoid this output of none we will use filter function instead of map..

[2, 4, 6, 8]
[None, None, 3, None]

In [4]:
#FILTER FUNCTION(To Remove the variables and get a filtered list
list_num=[1,2,3,4,5,6,7,8]
def divby3(x):
    if x%3==0:
        return x
sample_filter=filter(lambda x: x %3 ==0 ,list_num)
print(list(sample_filter))

[3, 6]

In [78]:
#REDUCE
from functools import reduce
list_1 = ['harshit','aman']
reduce(lambda x,y: x + y,list_1)

'harshitaman'

In [95]:
#Q.Create a list name with combination from of first name and last name using map
input_list=[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
name = list(map(lambda x,y: x+" "+y,input_list[0],input_list[1]))#Write your code here
print(name)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [96]:
#Q.Using the function Map, count the number of words that start with ‘S’ in input_list.
input_list=['Santa Cruz','Santa fe','Mumbai','Delhi']
count = sum(map(lambda x: x[0] == 'S', input_list))
print(count)

2

In [99]:
t1=("This","is","session",2)
t2=("on","tuples")
t=t1+t2
t

('a', 'b', 'v', 2, 'd', 'e', 'f')